
@using SmartHelper;
<center>
    <strong>Powered By <a target="_blank" href="@UtilityService.GetValue(Support.Company_Registration_Link)">@UtilityService.GetValue(Support.CompanyName)</a> &copy; @DateTime.Now.Year  Contact :<a href="@UtilityService.WhatappSendMessageLink" style="text-decoration: none;" target="_blank"><img src="~/dist/img/Whatsapp.png" class="user-image" alt="Link to Send Message on Whatsapp" width="20" height="20" /></a></strong>
</center>