
@using SmartHelper;

<section class="content-header">
    <h1>
        Dashboard
        <small>@UtilityService.ApplicationName</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="../Views/Home/Dashboard.cshtml"><i class="fa fa-dashboard"></i>Reporting Menu</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
</section>
