@model SmartDomain.Company
@using SmartHelper;
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Companies
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Company</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="AddCompany" enctype="multipart/form-data">

            @if (ViewData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@ViewData["Error"].ToString()</div>
                </div>
            }

            @if (ViewData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@ViewData["Success"].ToString()</div>
                </div>
            }
            @if (ViewData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@ViewData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" placeholder="Name" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Code" placeholder="Company Code">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Is Default Company</label>
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-val="true" id="IsDefault"
                                   name="IsDefault" value="true">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Active Status</label>
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-val="true" id="IsActive"
                                   name="IsActive" value="true">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Logo</label>
                    <input type="file" name="CompanyLogo" id="CompanyLogo" accept=".png" />

                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Company" asp-action="Companies">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Add_Company))
                {
                    <button type="submit" class="btn btn-info pull-right">Create</button>
                }
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  