@model SmartSave.Models.ScheduleModel;
@using SmartHelper;
@{
    TempData["Title"] = "View Schedules";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       Invoices Generated
    </h1></section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">View Generated Invoices</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="GeneratedInvoices">
            <div class="box-body">
                @if (TempData["Error"] != null)
                {<div class="container">
                        <div class="text-danger">@TempData["Error"].ToString()</div>
                    </div>
                    <br />
                }
                <div class="container">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>

                @if (TempData["Success"] != null)
                {<div class="container">
                        <div class="text-success">@TempData["Success"].ToString()</div>
                    </div>
                }
                @if (TempData["Warning"] != null)
                {<div class="container">
                        <div class="text-warning">@TempData["Warning"].ToString()</div>
                    </div>
                }


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Product</label>
                    <div class="col-sm-10">
                        <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Invoice  Date From:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DateFrom" ID="DateFrom">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Invoice  Date To:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DateTo" ID="DateTo">
                    </div>
                </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @if (UtilityService.HasPermission(Permissions.Generate_Invoices))
                {
                    <button type="submit" class="btn btn-success pull-right">Generate</button>

                }
                <a class="btn btn-default" asp-controller="Transactions" asp-action="Transactions">Cancel</a>

            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script>
    $(document).ready(function () {
        var futureDate = new Date();
        futureDate.setDate(futureDate.getDate() + 60);
        var previousDate = new Date();
        previousDate.setDate(previousDate.getDate() - 60);
        document.getElementById('DateFrom').value = previousDate.toISOString().substring(0, 10);
        document.getElementById('DateTo').value = futureDate.toISOString().substring(0, 10);
    });
</script>