@model SmartInterfaces.ClientForm;
@{
    TempData["Title"] = "Employee Details";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    @{Model.ShowClientButtons = true; }
           <partial name="_ClientView" model="@Model" />
     
</section>
  

