@model SmartDomain.Client
@using SmartHelper;

@{
    TempData["Title"] = "Add New Client";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee Details
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Employee</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="AddClient">
            <div class="box-body">

                @if (TempData["Error"] != null)
                {<div class="container">
                        <div class="text-danger">@TempData["Error"].ToString()</div>
                    </div>
                }

                @if (TempData["Success"] != null)
                {<div class="container">
                        <div class="text-success">@TempData["Success"].ToString()</div>
                    </div>
                }
                @if (TempData["Warning"] != null)
                {<div class="container">
                        <div class="text-warning">@TempData["Warning"].ToString()</div>
                    </div>
                }
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="FirstName" placeholder="First Name" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" placeholder="Last Name" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">ID/Birth Entry No.</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="IDNumber" placeholder="National ID" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date Of Birth</label>

                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="DateOfBirth" required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-10">
                        <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="EmailAddress" placeholder="Email Address" required>
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Residential Address</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" name="ResidentialAddress" rows="6" cols="40"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mobile Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="MobileNumber" placeholder="Mobile Number">

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentID" class="col-sm-2 control-label">Department</label>

                    <div class="col-sm-10">
                        <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-val="true" id="IsActive"
                                   name="IsActive" value="true">
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @if (UtilityService.HasPermission(Permissions.Add_Client))
                {
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                }
                <a class="btn btn-default" asp-controller="Client" asp-action="Clients">Cancel</a>

            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<script>
  
    document.getElementById('DateOfBirth').value = new Date().toISOString().substring(0, 10);
 </script>
